modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/finance-core: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/finance-core"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/finance-core run dev"
cwd = "./artifacts/finance-core"
waitForPort = 18103
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "18103"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_anthropic_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
APP_DATABASE_URL = "postgresql://neondb_owner:npg_pseQ61DvanZR@ep-soft-unit-acz0chzg-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DISABLE_CRON_JOBS = "true"

[nix]
channel = "stable-25_05"
